<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <h1>Hi, this is a good place</h1>
            <h2>Welcome to our Blog</h2>
        </div>

        <div class="col-md-6">
            <img src="/views/public/images/home.png" alt="">
        </div>

    </div>
</div>


<%- include('../partials/footer') %>