<%- include('../partials/head') %>
<%- include('../partials/header') %>
<div class="container">
    <h1>Hi, this is a good place </h1>
    <h2>Welcome to our Blog</h2>
    
</div>


<%- include('../partials/footer') %>